@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {

    background-color: #000;
    color: #fff;
}

a, a:hover, a:visited {
    color: unset;
    text-decoration: none;
}

.dsmeta-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    /*macete para alinhar no centro*/
}

#sales {/*para usar um id se usa o  # ao invés do .*/

    padding: 40px 10px;/* o primeiro numero é o espaçamento do topo
                          e o segundo é os laterais*/
}